input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

*{
    margin: 0;
    
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
    top: 94px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    position: absolute;
    pointer-events: none;
}



.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex: 0 32%;
    height: 50px;
    margin-bottom: 2%;
    background: rgb(233, 226, 226);
    border-radius: 5px; 
}


body{
   background-image:url('/img/paw-bg.jpg');
   background-position: center;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    color: #fbeec1; 
     height:100%;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {

    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.myreservation{
  overflow-y: scroll;
   max-height: 200px;
  
}

