body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background-image: url('/img/')
   
}



nav a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    
}


nav a:hover {
    text-decoration: none;
   
    color: white;
}



button, #logout {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



.nav-bk8{
background: #5f2c82;  
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  
background: linear-gradient(to right, #49a09d, #5f2c82); 
 opacity: 0.5;
}

#card{
    background-color: #21b4e7
}

a,  #whatIs {
    
    text-decoration: none;
    color:white;
}

#whatIs:hover{
    text-decoration: none;
    
}