body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background: white;
   
}

nav a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    
}


nav a:hover {
    text-decoration: none;
    background-color:#f9d36c;;
    font-size: 105%;
    border-radius: 1em;
    color: white;
}